
    <main>
        <span class="error-code"><%= code %></span>
        <span class="status-message"><%= statusMessage %></span>
        <p class="error-msg container">Something went wrong.<br>Be sure to double check the URL.</p>
    </main>
    
